body {
    background-color: #061c2e;
}





.app-size {
    width: 360px;
    height: 800px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
}
.black--screen {
    position: absolute;
    width: 360px;   
    height: 800px;
    left: 7.9px;
    right: 0;
    top: 8px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) -0.94%, rgba(0, 0, 0, 0.95) 46.98%, #000000 99.06%);
}

.top--navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 61px;
    top:8px;
    background-color: #3B3B3B;
    border-radius: 20px 20px 0 0;
    z-index:1;
    
}
.navbar--username {
    margin-right:100px;
}

.navbar--menu {
    margin-left:100px;
}

.bottom--navbar {
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 70px;
    top: 738px;
    background-color: #3B3B3B;
    color:green;
    z-index:1;
    border-radius: 0 0 20px 20px ;
}

.bottom--navbar > img:nth-of-type(1) {
    margin-right: 100px;
}

.bottom--navbar > img:nth-of-type(3) {
    margin-left: 100px;
}