.info__body {
    position: relative;
    display: flex;
    justify-content: center;
}

.info__body--container {
    padding: 0;
    margin:0;
    position: relative;
    z-index: 1;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--title {
     height: 20px;
     font-size: 3rem;
     margin-top:30px
}

.container--info {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:space-around;
    align-items: end;
    font-size: 1.5rem;
    padding-top:30px
}
.info__body--background {
    position: absolute;
    width: 100%;
    height: 300px ;
    bottom:0;
    z-index: -1;
    
}

.info__container--google {
    width: 100%;
    height: 300px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width:1270px) {
    .container--title {
        font-size: 2.5rem;
    }
    .container--info {
        font-size: 1rem;
    }
}

@media (max-width:870px) {
    .container--info {
        flex-direction: column;
        align-items: center;
        margin-top:30px
    }
}