.deliveryInfo--body {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.deliveryInfo--container {
    min-width: 650px;
    height: 800px;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    z-index: 1;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    
}

.deliveryInfo--container--info {
    margin-top:20px;
    font-size: 2rem;
}

.deliveryInfo--grid {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    width: 80%;
    gap:10px;
    margin-top:200px;
}


.deliveryInfo--body__background {
    position: absolute;
    width: 100%;
    height: 100svh;
    z-index:0;
}

.deliveryInfo--body__close {
    width: 35px;
    height: 35px;
    position: absolute;
    left:25px;
    top:20px;
}

input[name='mytextbox'] {
    width: 100%;
    height: 35px;
    background-color: var(--primary-color) ;
    border:0;
    border-radius: 10px;
    font-size:1rem;
    text-align: end;
    padding-right: 15px;
}

.deliveryInfo__grid--col , 
.deliveryInfo__grid--col2,
.deliveryInfo__grid--col3 {
    height: 75px;
    text-align: end;
}

.deliveryInfo__grid--col2 {
    grid-column: span 2;
}


.deliveryInfo__grid--col3 {
    grid-column: span 3;
}
.deliveryInfo__grid--col3 input {
    height: 75px;
}

.deliveryInfo__grid--button {
    margin-top:60px;
    grid-column: span 3;
    width: 30%;
    margin-left:180px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--primary-color);
    cursor: pointer;

}