.deliveryInfo--body {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.deliveryInfo--container {
    min-width: 650px;
    height: 800px;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    z-index: 1;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    
}

/* i forced the input to be specific in the whole container*/
.deliveryInfo--container input {
    width: 100%;
    height: 35px;
    background-color: var(--primary-color) ;
    border:0;
    border-radius: 10px;
    font-size:1rem;
    text-align: end;
    padding-right: 15px;
}

.deliveryInfo--container--info {
    margin-top:20px;
    font-size: 2rem;
}

.deliveryInfo--grid {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    direction: rtl;
    width: 80%;
    gap:10px;
    margin-top:40px;
}

.deliveryInfo--savedInfo {
    background-color: var(--primary-color);
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom:110px;
    grid-column: span 3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
  }
.deliveryInfo--popDown {
    position: absolute;
    height: 120px;
    background-color: var(--primary-color);
    width: 100%;
    top:32px;
    border-radius: 0px 0px 11px 11px;
}

.deliveryInfo--popDown--line {
    height: 25px;
    margin:10px 0 10px 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.deliveryInfo--popDown--line > div {
    margin:0 10px 0 10px;
}
.deliveryInfo--bin {
    height: 20px;
    width: 20px;
    margin-right:auto;
    margin-left:10px;
}

.deliveryInfo--savedInfo > img {
    height: 50px;
    width: 50px;
    margin-left:15px;
    cursor: pointer;
}

.deliveryInfo--body__background {
    position: absolute;
    width: 100%;
    height: 100svh;
    z-index:0;
}

.deliveryInfo--body__close {
    width: 35px;
    height: 35px;
    position: absolute;
    left:25px;
    top:20px;
}

.deliveryInfo__grid--col , 
.deliveryInfo__grid--col2,
.deliveryInfo__grid--col3 {
    height: 75px;
    text-align: end;
    direction: ltr;
}

.deliveryInfo__grid--col2 {
    grid-column: span 2;
}


.deliveryInfo__grid--col3 {
    grid-column: span 3;
}
.deliveryInfo__grid--col3 input {
    height: 75px;
}

.deliveryInfo__grid--button {
    margin-top:60px;
    grid-column: span 3;
    width: 30%;
    margin-right:215px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--primary-color);
    cursor: pointer;
    color:white;
    font-family: 'Secular One', sans-serif;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}


.deliveryInfo--checkBox {
    display: flex;
    flex-direction: row;
    position: absolute;
    right:76px;
    top:591px;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-color: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    
}

input[type="checkbox"]:checked {

        background:-moz-radial-gradient(circle at 50% 50%, #FFFF00 0%, #1A1A1A 24%);

        background:-webkit-radial-gradient(circle at 50% 50%, #FFFF00 0%, #1A1A1A 24%);
    
        background:-o-radial-gradient(circle at 50% 50%, #FFFF00 0%, #1A1A1A 24%);
    
        background:-ms-radial-gradient(circle at 50% 50%, #FFFF00 0%, #1A1A1A 24%);
    
        background:radial-gradient(circle at 50% 50%, #FFFF00 0%, #1A1A1A 24%);

        border:1px solid var(--primary-color)
  }

.deliveryInfo--Link {
    text-decoration:none;
    color:white
}