
.slide-container {
  position: relative;
}

.slide-outside {
  position: absolute;
  top:325px;
  left:34.5vw;
}

.slide-name{
  font-family: 'Secular One', sans-serif;
  text-align: center;
  font-size:5rem;
  margin-right:0.7vw;
  transition: text-shadow 500ms;
}
.slide-slogen {
  display: flex;
  gap:20px;
  font-size: 4rem;
  transition: text-shadow 500ms;
  font-family: 'Alfa Slab One';
}

.slide-name:hover , .slide-slogen:hover {
  text-shadow: 0 0 10px var(--primary-color);
}
.slide-slogen :nth-child(2){
  font-size:2rem;
  padding-top:19px
}


@media (max-width: 1200px) {
  .slide-outside {
    left:15vw;
  }
}
@media (max-width: 850px) {
  .slide-slogen {
    font-size: 3rem;
  }
  .slide-name {
    font-size: 4rem;
  }
  .slide-slogen :nth-child(2){
    font-size:1.5rem;
    padding-top:16px
  }
}

@media (max-width: 650px) {
  .slide-outside {
    left:20vw;
  }
}
@media (max-width: 850px) {
  .slide-slogen {
    font-size: 2rem;
  }
  .slide-name {
    font-size: 3rem;
  }
  .slide-slogen :nth-child(2){
    font-size:1rem;
    padding-top:10px
  }
  .slide-outside {
    top:400px;
    left:19vw;
  }
}