:root {
  --primary-color: #E7B132;
  --secondary-color: #ffffff;
  --hebrew-font:'Secular One', sans-serif;
  --fade-background:rgba(231, 177, 50, 0.02)
}

*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

body {
    color:white;
    background-color: black;
    font-family: 'Secular One', sans-serif;
  }

.app-padding {
  padding-top:72px
}

.global-shadow-bottom {
  position: absolute;
  bottom:0;
  right:0;
  width: 100%;
  height: 20vh;
  z-index:1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 26.56%, rgba(0, 0, 0, 0.9) 66.67%, #000000 100%);
  
}
.global-shadow-top {
  position: absolute;
  top:0;
  right:0;
  width: 100%;
  height: 20vh;
  z-index:1;
  transform: rotate(-180deg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 26.56%, rgba(0, 0, 0, 0.9) 66.67%, #000000 100%);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #000000;
}
